.myHeaderSoloLink {
    text-align: center;
}

h2 {
    text-align: center;
}

#container {
    color: #FFFFFF;
    background-color: rgba(30, 30, 30, 0.9);
    border-radius: 10px;
    padding-bottom: 20px;
    margin-top: 50px;
}

.form-padding {
    padding-top: 20px;
}

.btn-primaryy {
    background-color: #FFFFF;
    color: #000000;
    margin-top: 20px;
}

.btn-primaryy:hover {
    background-color: #000000;
    color: #FFFFFF;
    margin-top: 20px;
}

.tabs-left, .tabs-right {
    border-bottom: none;
    padding-top: 2px;
}

.tabs-left {
    border-right: 1px solid #ddd;
}

.tabs-left>li, .tabs-right>li {
    float: none;
    margin-bottom: 2px;
}

.tabs-left>li {
    margin-right: -1px;
}

.tabs-left>li>a {
    background-color: rgba(0, 100, 250, 0.8);
    color: #FFFFFF;
}

.tabs-left>li>a:hover {
    background-color: rgba(0, 100, 200, 0.8);
    color: #FFFFFF;
}

.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
    border-bottom-color: #ddd;
    border-right-color: transparent;
}

.tabs-left>li>a {
    border-radius: 4px 0 0 4px;
    margin-right: 0;
    display:block;
}

.tabs-right>li>a {
    border-radius: 0 4px 4px 0;
    margin-right: 0;
}

.vertical-text {
    margin-top:50px;
    border: none;
    position: relative;
}

.vertical-text>li {
    height: 20px;
    width: 120px;
    margin-bottom: 100px;
}

.vertical-text>li>a {
    border-bottom: 1px solid #ddd;
    border-right-color: transparent;
    text-align: center;
    border-radius: 4px 4px 0px 0px;
}

.vertical-text>li.active>a,
.vertical-text>li.active>a:hover,
.vertical-text>li.active>a:focus {
    border-bottom-color: transparent;
    border-right-color: #ddd;
    border-left-color: #ddd;
}

.vertical-text.tabs-left {
    left: -50px;
}

.vertical-text.tabs-left>li {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}