#logo {
    /*font-size: 1.5em;*/
    text-align: center;
    font-family: 'Arvo', serif;
    color: #FFFFFF;
    border-image-slice: 100% 100% 100% 100%;
    border-image-width: 1 1 1 1;
    box-sizing: border-box;
    text-decoration-style: solid;
    text-shadow: 0.09em 0.075em 0px rgba(0, 0, 0, 0.1);
}

.padding {
    height: 50px;
    width: 100%;
}

.topMargin {
    margin-top: 50px;
}

li {
    list-style: none;
}

.button {
    float: right;
    display: inline-block;
    border-radius: 4px;
    background-color: #09DFDF;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 5px;
    transition: all 0.5s;
    cursor: pointer;
}

.button2 {
    float: right;
    display: inline-block;
    border-radius: 4px;
    background-color: #DF0F09;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 5px;
    transition: all 0.5s;
    cursor: pointer;
}