#logo {
    /*font-size: 1.5em;*/
    text-align: center;
    font-family: 'Arvo', serif;
    color: #FFFFFF;
    border-image-slice: 100% 100% 100% 100%;
    border-image-width: 1 1 1 1;
    box-sizing: border-box;
    text-decoration-style: solid;
    text-shadow: 0.09em 0.075em 0px rgba(0, 0, 0, 0.1);
}

.padding {
    height: 50px;
    width: 100%;
}

.topMargin {
    margin-top: 100px;
}

h1 {
    position: inherit;
    width: 50%;
}

h1 a {
    margin-left: 18%;
    font-size: 1em;
}

#header nav {
    position: inherit;
}