{% extends 'layout.twig' %}

{% block content %}
	<div class="padding"></div>
	<div class="4u -1u 12u(mobile) -2u(tablet) 6u(tablet)">
		<section>
			<header>
				<p>Des humains</p>
			</header>
			<p>Pour être l'architecte et gérer HackMedia, la matrice a choisi trois humains de la race des Developeurs d'Access Code School promo Abissy Link!
				Ils se prénomme Julien, Vincent et Brahim.</p>
		</section>
	</div>
	<div class="4u -2u 12u(mobile) -2u(tablet) 6u(tablet)">
		<section>
			<header>
				<p>Du code</p>
			</header>
			<p>Toutes les lignes de code constituant HackMedia ont été créées avec amour et principalement à 70% de PHP.</p>
		</section>
	</div>
	<div class="padding"></div>
{% endblock %}

