salut {{ person.Nom }}  {{ person.Prenom }}

<div style="border: 5px solid black;border-radius:25px 25px 0px 25px;width:100px;height:100px;">SaLut</div>

<div style="border: 5px solid black;border-radius:25px 25px 25px 0px;width:100px;height:100px;">SaLut</div>
{% extends 'header.twig' %}
