{% extends 'layout.twig' %}

{% block content %}
	<div class="padding"></div>
	<div class="4u -1u 12u(mobile) -2u(tablet) 6u(tablet)">
		<section>
			<header>
				<p>header SaLut</p>
			</header>
			<p>information a afficher</p>
			<footer>
				<p>footeer de la div</p>
			</footer>
		</section>
	</div>
	<div class="4u -2u 12u(mobile) -2u(tablet) 6u(tablet)">
		<section>
			<header>
				<p>header SaLut</p>
			</header>
			<p>information a afficher</p>
			<footer>
				<p>footeer de la div</p>
			</footer>
		</section>
	</div>
	<div class="padding"></div>
{% endblock %}

